# pipreqs /path/to/your/project/
wheel
setuptools
importlib-metadata>=3.6 ; python_version<='3.7'
python_version
astroalign~=2.0
astropy>=4.0.1.post1
astroquery~=0.4
barycorrpy~=0.3
dynesty~=1.0
holoviews~=1.13
LDTk~=1.4
lmfit~=1.0
matplotlib>=3.2
numpy>=1.18
pandas~=1.1
panel~=0.9
photutils>=0.7
python_dateutil~=2.8
pyvo~=1.1
requests~=2.23
scipy~=1.4
scikit-image~=0.17
tenacity~=5.1
