astroalign~=2.4
astropy~=5.3.1
astroquery~=0.4
barycorrpy~=0.4
colour_demosaicing~=0.2.3
dynesty~=1.2.3;platform_system=='Windows'
holoviews~=1.16
importlib-metadata>=3.6;python_version<='3.7'
imreg_dft~=2.0
LDTk~=1.8
lmfit~=1.2
matplotlib~=3.7.2
numpy~=1.24.4
pandas~=1.5.3
panel~=0.13.1
photutils~=1.8
pylightcurve~=4.0.1
python_dateutil~=2.8
python_version
pyvo~=1.4
requests~=2.31
scipy~=1.11.1
scikit-image~=0.21
statsmodels~=0.14.0
tenacity~=8.2
ultranest~=3.6.2;platform_system!='Windows'
