requests==2.23.0
astroalign==2.0.2
astropy==4.0.1.post1
barycorrpy==0.3.2
matplotlib==3.2.1
numpy==1.18.5
photutils==0.7.2
python_dateutil==2.8.1
scipy==1.4.1
theano==1.0.4
scikit-image==0.17.2
semantic-version==2.8.5
LDTk==1.4.1
lmfit==1.0.1
dynesty==1.0.1